.main {
  padding: 1.5rem;
}

.anime-card {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 2px 2px black;
  border-radius: 10px;
}

.title {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 20px;
  background-color: #9393c944;
  border-radius: 10px 10px 0 0;
}