.container > .header {
    justify-content: center;
}

.header {
    background-color: transparent;
}

.navbar-nav {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.navbar-nav a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: rgb(168, 165, 165);
    display: block;
    transition: .2s;
}

.active {
    color: white !important;
    font-weight: bold !important;
}

.navbar-nav a:hover::after {
    visibility: visible;
    opacity: 1;
}

.menu {
    display: none;
}

.avatar-small {
    border-radius: 50px;
    width: 50px;
}

.avatar-medium {
    border-radius: 20px;
    width: 70px;
}

.avatar-button {
    background-color: transparent;
    border: none;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .menu {
        display: block;
    }
    .menu-btn {
        display: block;
    }

    .navbar-nav {
        display: none;
    }

    .nav-menu {
      position: absolute;
      top: 5rem;
      right: 0;
      background: linear-gradient(148deg, rgb(41, 47, 71) 0%, rgba(26,30,108,1) 100%);
      flex-direction: column;
      width: 50%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-in-out;
      z-index: 1000;
      border-radius: 30px 0 30px 30px;
    }
  
    .nav-menu.open {
      max-height: 14rem;
      border: 1px solid white;
    }
  
    .nav-menu ul {
      flex-direction: column;
      padding: 0;
    }
  
    .nav-menu li {
      padding: 1rem;
      text-align: center;
      border-top: 1px solid white;
    }

    .navigate {
        text-decoration: none;
        color: white;
        display: none;
    }
}