::-webkit-scrollbar {
    display: none;
}

.button {
    position: relative;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    color: white;
    padding: 0.3em 0.6em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    border-radius: 20px;
}

.button:hover {
    transition-duration: 0.1s;
    background-color: #9393c944;
    box-shadow: -1px -1px 10px 10px rgba(34, 60, 80, 0.658);
}

.mini-block {
    background-color: gray;
    padding: 4px;
    border-radius: 20px;
    font-size: 14px;
}